#container-for-all{
    display: grid;
    grid-template-rows: repeat(8,200px);
    grid-template-columns: repeat(4,1fr);
}

.sidebar{
grid-area: 1 / 1 / 9 / 1;
background-color:#84a59d;
color:white;
}

.header{
    grid-area: 1/2/1/5;
    background-color: #F7EDE2;
}

.mainContent{
    grid-area: 2 / 2 / 9 / 5;
    background-color: #F5CAC3;
}

.mainContent{
    display:grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
}

.projects{
    grid-area: 1 / 1 / 4 / 4;
}

.projects-content{
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr) ;
}

