#container-for-all{
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(6,1fr);
}

.sidebar{
grid-area: 1 / 1 / 9 / 1;
background-color:#84a59d;
color:white;
}

.header{
    grid-area: 1/2/1/7;
    background-color: white;
}

.mainContent{
    grid-area: 2 / 2 / 9 / 7;
    background-color:  #F7EDE2;;
}

.mainContent{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
}

.projects{
    grid-area: 1 / 1 / 2/ 4;
    margin: 15px;
}

.right-side{
    border: 1px solid black;
    grid-area: 1/4/2/5;
   
    margin: 15px;
}

.projects-content{
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr) ;
    gap:15px;
    
}

.projects-content > div{
    background-color:white;
    padding: 15px;
    border-left: 5px solid #f28482;    

}

